<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/src/main.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode loggingEnabled="true" logDirectory="iisnode" devErrorsEnabled="true" />
    <httpErrors existingResponse="PassThrough" />

    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(swagger-ui|favicon.ico|.*\.js|.*\.css|.*\.png|.*\.json)$" />
          <action type="None" />
        </rule>

        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="dist/src/main.js" />
        </rule>

        <rule name="MainApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="dist/src/main.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
